:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;
    --black: #000000;

    --space-300: 24px;
    --space-150: 12px;
    --space-100: 8px;
    --space-50: 4px;

    --radius-tag: 5px;

    --attribution: hsl(228, 45%, 44%); 
}

@font-face {
    font-family: "Figtree";
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf)  format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "Figtree";
    src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf)  format('truetype');
    font-style: italic;
}

body{
    display: grid;
    place-items: center;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Figtree", sans-serif;
    background-color: var(--yellow);
}

.attribution { 
    font-size: clamp(11px, 1vw + 1rem, 16px);
    text-align: center; 
}
.attribution a { 
    color: var(--attribution);
}
.card {        
    max-width: clamp(230px, 50vw, 340px);
    padding: 1rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--black);
    border-radius: var(--space-150);
    background-color: var(--white);
    filter: drop-shadow(0.5rem 0.5rem 0 rgba(0, 0, 0, 1));
}
.card__img{
    border-radius: var(--space-150);
    margin-block-end: var(--space-300);
}
.card__tag{
    padding: 7px;
    font-size: clamp(14px, 1.4vw, 16px);
    font-weight: bold;
    border-radius: var(--radius-tag);
    background: var(--yellow);
    border: 1px solid rgba(25, 15, 51, 0.10);
    margin-block-end: var(--space-150);
    max-width: fit-content;
}
.card__date{
    margin-block-end: var(--space-300);
}
.card__content{
    margin-block-end: var(--space-300);
}
.card__content h1{
    font-size: clamp(18px, 1.8vw, 22px);
    font-weight: bold;
    color: var(--gray-950);
    margin-block-end: var(--space-150);
}
.card__content p{
    font-size: clamp(14px, 1.4vw, 16px);
    color: var(--gray-500);
    line-height: 150%;
}
.card__author{
    display:flex;
    gap: var(--space-150);
    align-items: center;
}
.card__author p{
    font-size: clamp(14px, 1.4vw, 16px);
    font-weight: bold;
}
footer{
    padding: var(--space-150);
}

footer a:focus-visible {
    outline: 3px solid #005fcc;
    outline-offset: 2px;
  }